{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'components/_navbar.html.twig' with { show_selector: false } %}
    <div class="flex flex-col w-full h-full">
        {% include 'components/_navbar.html.twig' with { show_selector: true } %}

        <div class="p-6">
            <h1 class="text-xl font-semibold mb-4 text-[#000080]">Bienvenue sur votre lecteur RSS</h1>

            {% if app.user %}
                {% if userSources is empty %}
                    <div class="flex items-center justify-center h-[80vh]">
                        <div class="w-[360px] bg-[#f0f0f0] border border-gray-400 shadow-[4px_4px_0px_rgba(0,0,0,0.4)]">
                            <div class="bg-[#000080] px-2 py-1 text-white flex justify-between items-center">
                                <span class="text-sm font-semibold">Information</span>
                                <button class="bg-[#c0c0c0] border border-black text-black text-xs w-5 h-5 shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">x</button>
                            </div>
                            <div class="p-4 flex flex-col items-center gap-4 text-center">
                                <img src="https://64.media.tumblr.com/b22e49d8f52d0e90857458021399339d/63c60cacbd7469c6-f8/s540x810/672e574b011045df3ff463ddc3ddc98f88725fbd.png" alt="info" class="w-10 h-10">
                                <p class="text-sm text-black">Vous n'avez encore ajouté aucun flux RSS.</p>
                                <a href="{{ path('add_source') }}"
                                class="px-4 py-1 bg-[#c0c0c0] border border-black text-sm text-black shadow-[inset_-1px_-1px_0_#fff,inset_1px_1px_0_#404040]">
                                    Ajouter un flux
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

