{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="flex flex-col w-full h-full">
        {% include 'components/_navbar.html.twig' with { show_selector: true } %}
        <div class="flex flex-col items-center justify-center w-full h-full">
            <h1>Flux de {{ user.username }}</h1>
        </div>
    </div>
{% endblock %}
