{% extends 'base.html.twig' %}

{% block title %}Ajouter un Flux{% endblock %}

{% block body %}
    <h1>Ajouter un Flux RSS</h1>

    {{ form_start(form) }}
        {{ form_row(form.customName) }}
        {{ form_row(form.url) }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
